<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="layout/LayoutPadrao">
<head>
	<title>Brewer - Cadastro de cliente</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de cliente</h1>
			</div>
		</div>

		<div class="container-fluid">

			<form method="POST" th:object="${cliente}" class="form-vertical  js-form-loading">
			
				<div class="row">
					<div class="form-group col-sm-12">
						<label for="nomeCliente">Nome</label>
						<input id="nomeCliente" class="form-control" type="text" >
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="tipoPessoa">Tipo Pessoa</label>
						<div>
							<th:block th:each="tipoPessoa : ${tiposPessoa}">
								<div class="radio radio-inline">
									<input type="radio" class="js-radio-tipo-pessoa" th:id="|id_${tipoPessoa}|" name="tipoPessoa" 
										data:documento="${tipoPessoa.documento}" data:mascara="${tipoPessoa.mascara}"> 
									<label class="control-label" th:for="|id_${tipoPessoa}|" th:text="${tipoPessoa.descricao}"></label>
								</div>
							</th:block>
						</div>
					</div>
					<div class="form-group col-sm-8">
						<label for="cpfOuCnpj">CPF/CNPJ</label>
						<input id="cpfOuCnpj" class="form-control" type="text" disabled />
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="telefone">Telefone</label>
						<input type="text" id="telefone" name="telefone" class="form-control js-phone-number"> 
					</div>
					<div class="form-group col-sm-8">
						<label for="email">E-mail</label>
						<input id="email" class="form-control" type="text">
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="logradouro">Logradouro</label>
						<input type="text" id="logradouro" name="logradouro" class="form-control"> 
					</div>
					<div class="form-group col-sm-4">
						<label for="numero">Número</label>
						<input type="text" id="numero" name="numero" class="form-control"> 
					</div>
					<div class="form-group col-sm-4">
						<label for="complemento">Complemento</label>
						<input type="text" id="complemento" name="complemento" class="form-control"> 
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="cep">CEP</label>
						<input type="text" id="cep" class="form-control js-cep" name="cep"> 
					</div>
					<div class="form-group col-sm-4">
						<label for="estado">Estado</label>
						<div class="bw-field-action">
							<select class="form-control" id="estado">
								<option value="">Selecione o estado</option>
								<option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}"></option>
							</select>
						</div>
					</div>
					<div class="form-group col-sm-4">
						<label for="cidade">Cidade</label>
						<div class="bw-field-action">
							<select class="form-control" id="cidade">
								<option value="">Selecione a cidade</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn btn-primary" type="submit">Salvar</button>
				</div>
			
			</form>
		</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/cliente.mascara-cpf-cnpj.js}"></script>
	</th:block>

</body>
</html>